{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1>Profil</h1>

    {% for message in app.flashes('redirect') %}
        <p>{{ message }}</p>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <p>{{ message }}</p>
    {% endfor %}

<div>
    <h2>{{ profile.firstName }} {{ profile.lastName }}</h2>
    <ul>
        <li>Date de naissance : {{ profile.birthDate|date('d/m/Y') }}</li>
        <li>Email : <a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a></li>
        <li>Adresse : {% if profile.address is not null %}{{ profile.address }}{% else %}(non renseigné){% endif %}</li>
        <li>Téléphone : {% if profile.tel is not null %}{{ profile.tel }}{% else %}(non renseigné){% endif %}</li>
        <li>Description : {{ profile.essay }}</li>
        {% if admin %}<li>Visible par les autres : {{ (profile.displayedToPeers) ? '✅' : '❌' }}</li>{% endif %}
    </ul>

    <a href="{{ path('edit_profile', {'profile': profile.id}) }}"><button>modifier</button></a>

    <p>
        <a href="{{ path('show_profile_competences', {'profile': profile.id }) }}">Voir les compétences</a><br>
        <a href="{{ path('show_experiences', {'profile': profile.id }) }}">Voir les expériences</a><br>
        <a href="{{ path('show_documents', {'profile': profile.id }) }}">Voir les documents</a>
    </p>
</div>
{% endblock %}
